.footer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-image: url('../../public/images/seafoam.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  filter: brightness(55%);
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.footer-subscription-heading {
  font-size: 40px;
  color: #fff;
  font-family: 'Palatino', serif;
}

.footer-subscription-midle{
  font-size: 13px;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
}

.footer-subscription-text {
  margin-top: 5px;
  font-size: 13px;
  color:#fff;
  font-family: 'Tahoma', sans-serif;
}

.footer-input {
  width: 350px;
  height: 5vh;
  outline: none;
  border: none;
  margin-top: 20px;
  border-radius:15px;
  font-size: 18px;
  font-family: 'Verdana', sans-serif;
  text-align: center;
}

.footer-links {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.footer-link-wrapper {
  display: flex;
}

.footer-link-items {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}

.footer-link-items h2 {
  margin-bottom: 16px;
  font-family:'Arial', serif;
  font-size: 17px;
}

.footer-link-items > h2 {
  color: #fff;
  text-align: left;
}

.footer-link-items a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-family: 'Helvetica', sans-serif;
}

.footer-link-items a:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

.footer-input::placeholder {
  color: #b1b1b1;
}

/* Social Icons */
.social-icon-link {
  color: #fff;
  font-size: 24px;
}

.social-media {
  font-family: 'Verdana', sans-serif;
  background-color: #74A1A5;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 0 auto;
}

.social-icons {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social-logo {
  color: #fff;
  justify-self: start;
  margin-left: 0px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.footer-logo-image{
  margin-top: 35px;
  width: 95px;
  align-items: center;
}

.website-rights {
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
}

.btn-subscribe {
  margin-top: 15px;
  width: 120px;
  height: 55px;
  font-family: 'Montserrat', sans-serif;
  background-color: #95D4DA;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

